# API manzili
VITE_API_URL=https://parkent-express.duckdns.org/api/v1
VITE_SOCKET_URL=https://parkent-express.duckdns.org

# Vaqtincha parolsiz kirish uchun true, keyin false qiling
VITE_ADMIN_BYPASS=true
